<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>项目管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link
      rel="stylesheet"
      href="../../dist/layuiadmin/layui/css/layui.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../../dist/layuiadmin/style/admin.css"
      media="all"
    />
  </head>

  <body>
    <div class="layui-card layadmin-header">
      <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>开启单元格编辑</cite></a>
      </div>
    </div>

    <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">
              <div class="layui-inline">
                <label class="layui-form-label">用户ID：</label>
                <div class="layui-input-inline" style="width: 120px">
                  <input
                    type="text"
                    name="search_id"
                    autocomplete="off"
                    class="layui-input"
                  />
                </div>
              </div>
              <button type="button" class="layui-btn searchBtn">搜索</button>
              <button type="button" class="layui-btn addBtn">新增投资</button>
            </div>
            <div class="layui-card-body">
              <table
                class="layui-hide"
                id="test-table-cellEdit"
                lay-filter="test-table-cellEdit"
              ></table>
            </div>
          </div>
        </div>
      </div>
      <!-- 编辑弹框 -->
      <div class="layui-form" id="addUser" lay-filter="component-form-element" style="display: none;">
        <div class="layui-row " style="margin-top: 10px;">
            <div class="layui-col-md11">
                <label class="layui-form-label">用户ID：</label>
                <div class="layui-input-block">
                    <input type="text" name="add-userid" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-row" style="margin-top: 10px;">
            <div class="layui-col-md11">
                <label class="layui-form-label">金额：</label>
                <div class="layui-input-block">
                    <input type="number" name="add-money" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-row" style="margin-top: 10px;">
          <div class="layui-col-md11">
              <label class="layui-form-label">投资描述：</label>
              <div class="layui-input-block">
                <textarea name="add-recorddec" placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
          </div>
      </div>
    </div>
    </div>

    <script src="../../dist/layuiadmin/layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '../../dist/layuiadmin/', //静态资源所在路径
        })
        .extend({
          index: 'lib/index', //主入口模块
        })
        .use(['index', 'jquery', 'table','http'], function () {
          var table = layui.table,
            $ = layui.$,
            admin = layui.admin,
            http = layui.http;

          // 初始化表格
          initTable()

          // 重置表格
          function initTable() {
            let url = '/record/getAllRecordByType?type=投资'
            let searchVal = $('[name="search_id"]').val()
            if (searchVal) {
              url = 'record/getTZRecord?userid=' + searchVal
            }
            table.render({
              elem: '#test-table-cellEdit',
              url: layui.setter.baseUrl + url,
              // , data:[]
              cols: [
                [
                  { type: 'numbers', title: '序号', width: 80 },
                  { field: 'userid', title: '用户ID', width: 120 },
                  { field: 'recordtype', title: '类型', width: 120 },
                  { field: 'recorddec', title: '描述', minWidth: 150 },
                  { field: 'recordtime', title: '时间' },
                ],
              ],
            })
          }

          // 搜索
          $(document).on('click', '.searchBtn', function () {
            initTable()
          })

          
          // 新增投资
          $('.addBtn').on('click',function(){
                    $('[name="add-userid"]').val('')
                    $('[name="add-money"]').val('')
                    $('[name="add-recorddec"]').val('')


                    layer.open({
                        title: '新增投资',
                        type: 1,
                        shade: false,
                        btn: ['确定', '取消'],
                        area: ['500px', '400px'],
                        content: $('#addUser'),
                        yes: function (index) {
                            var obj = {
                              userid: $("[name='add-userid']").val(),
                              money: $("[name='add-money']").val(),
                              recorddec: $("[name='add-recorddec']").val(),
                            }
                            if (!obj.userid) {
                                layer.msg('用户ID不能为空');
                                return
                            }
                            if (!obj.money) {
                                layer.msg('金额不能为空');
                                return
                            }
                            if (!obj.recorddec) {
                                layer.msg('投资不能为空');
                                return
                            }
                            console.log(obj);
                            http.post('account/addInvestor', obj, function () {
                                layer.close(index);
                                layer.msg('添加投资记录成功');
                                initTable()

                            })
                        }
                        , btn2: function (index) {
                            layer.close(index);
                        }
                    });
            })
        })
    </script>
  </body>
</html>
